<div>

<!-- 
    TODO when a customer is selected from the list, display the name, utilize the nameFormatter pipe to format the name accordingly
-->
<h5> Selected Customer Name:  </h5>
    <!-- 
        TODO
        update customer-entry and customer-list components to handle the necessary data
     -->
    <div class="row">
        <div class="col-3">
            <customer-entry></customer-entry>
        </div>

        <div class="col-9">
            <customer-list></customer-list>
        </div>

    </div>


</div>