
<div class="row">
    <div class="col-2">
        <!-- 
        TODO
        update so that this will add the ElementComponent
        -->
        <button class="btn btn-primary">Add Element</button>

    </div>
    <div class="col-2">
        <!-- 
        TODO
        update so that this will add the ng-template listed below
        -->
        <button class="btn btn-primary">Add Template</button>

    </div>

    <div class="col-2">
        <!-- 
        TODO
        update so that this will remove the most recently added element
         -->
        <button class="btn btn-primary">Remove Last</button>

    </div>
</div>


<ng-container #container>

</ng-container>


<ng-template #template>
    <element>Via Template</element>
</ng-template>